.story {
    padding: 60px 0;
}

.story__wrapper {
    position: relative;
    padding-top: 121px;
}

.story__image-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.story__content {
    margin-left: auto;
    padding: 80px;
    max-width: 706px;
    background-color: var(--light);
}

.story__caption {
    margin-bottom: 24px;
}

.story__title {
    margin-bottom: 16px;
}

.story__text {
    margin-bottom: 32px;
}
