:root {
	--black: #232536;
	--yellow: #ffd050;
	--dark-grey: #4c4c4c;
	--medium-grey: #6d6e76;
	--purple: #592ea9;
	--light: #fff;
	--light-yellow: #fbf6ea;
	--light-grey: #f4f4f4;
	--lavender: #f4f0f8;

    --font-family: "Inter", sans-serif;
    --second-family: "Sen", sans-serif;

	--container-width: 1280px;
	--container-offset: 15px;
}